@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

$primary-color: #222;
$white-color: #fff;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

input {
    color: $primary-color;
}

#root,
html, body {
    height: 100%;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    color: $primary-color;   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.App {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    width: 468px;
    margin: 0 auto;
    background-color: $white-color;
    border-radius: 10px;
    transition-property: width;
    transition-duration: 4s;
    transition-delay: 2s;
    inset: auto 2em 2em auto;
    @media (max-width: 650px) {
        position: relative;
        width: 100%;
        inset: 0;
        min-height: 100vh;
        border-radius: 0;
    }
    .links {
        position: fixed;
        top: 0;
        left: 0;
        padding: 2em;
        color: $white-color;
        text-shadow: 0 0 4px rgba(0, 0, 0, .4);
        span {
            display: block;
            margin-bottom: 8px;
            opacity: .5;
        }
        a {
            padding: 0 4px;
            color: inherit;
            opacity: 0.6;
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: 1px solid white;
        }
    }
    .header {
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        padding: 2em 2em 0;
        overflow: hidden;
        .logo {
            margin-bottom: .5em;
            span {
                display: block;
                font-size: 12px;
                opacity: .8;
            }
        }
    }
    .form {
        margin-top: 1em;
        padding: 0 2em 2em;  
        .input {
            position: relative;
            input {
                width: 100%;
                margin: 1em 0;
                padding: 5px 0;
                font-size: 16px;
                border: none;
                outline: none;
            }
            & + button {         
                padding: 12px 24px;
                color: $white-color;
                font-size: 16px;
                background-color: $primary-color;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                & + p {
                    display: block;
                    margin-top: 16px;
                    font-size: 12px;
                    .made {
                        display: inline-block;
                        width: 2rem;
                        height: 2rem;
                        margin-left: -1rem;
                        vertical-align: middle;
                        animation: App-logo-spin infinite 20s linear;
                    }
                    a {
                        padding: 0 2px;
                        color: inherit;
                        opacity: 0.6;
                        text-decoration: none;
                        padding-bottom: 2px;
                        border-bottom: 1px solid #222;
                    }
                }
            }
        }      
    }   
    .tasks {
        overflow: hidden;
        overflow-y: auto;
        > li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em 0;
            border-bottom: 1px solid rgb(235, 235, 235);
            label {
                display: flex;
                align-items: center;
                input {
                    appearance: none;
                    -webkit-appearance: none;
                    min-width: 15px;
                    height: 15px;
                    margin-right: 10px;
                    border-radius: 50%;
                    border: 3px solid $primary-color;
                    &:checked {
                        background-color: $primary-color;
                    }
                }
            }
            &.complete {
                label {
                    text-decoration: line-through;
                    opacity: .6;
                }
            }
        }
    }
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}